<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="wompi_admin_order_create_payment"
                type="Wompi\Payment\Plugin\Sales\Model\AdminOrder\CreatePlugin"/>
    </type>
</config>
